<div class='panel panel-default'>
  <div class="panel-heading">
    <h1>New Hero</h1>
  </div>
  <div class='panel-body'>
    <%= render 'form', hero: @hero %>
  </div>
</div>

<%= link_to 'Back', heros_path %>
