<div class='panel panel-default'>
  <div class="panel-heading">
    <h1>New Map</h1>
  </div>
  <div class='panel-body'>
    <%= render 'form', map: @map %>
  </div>
</div>

<%= link_to 'Back', maps_path %>
