<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar text-center">
    <li>
      <%= link_to heros_path do%>
        <i class='fa fa-superpowers'></i>
        Heros
      <% end %>
    </li>
    <li>
      <%= link_to talents_path do%>
        <i class='fa fa-fire'></i>
        Talents
      <% end %>
    </li>
    <li>
      <%= link_to maps_path do%>
        <i class='fa fa-map'></i>
        Maps
      <% end %>
    </li>
  </ul>
</div>