<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse slimscrollsidebar">
    <ul class="nav" id="side-menu">
      <li style="padding: 10px 0 0;">
        <a href="index.html" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i><span class="hide-menu">Dashboard</span></a>
      </li>
      <li>
        <%= link_to builds_path, class: 'active' do%>
          <i class='fa fa-building fa-fw'></i>
          <span class="hide-menu">Builds</span>
        <% end %>
      </li>

      <li>
        <%= link_to heros_path, class: '' do%>
          <i class='fa fa-superpowers fa-fw'></i>
          <span class="hide-menu">Heros</span>
        <% end %>
      </li>
      <li>
        <%= link_to talents_path, class: '' do%>
          <i class='fa fa-tree fa-fw'></i>
          <span class="hide-menu">Talents</span>
        <% end %>
      </li> 
      <li>
        <%= link_to maps_path, class: '' do%>
          <i class='fa fa-map fa-fw'></i>
          <span class="hide-menu">Maps</span>
        <% end %>
      </li>                  
    </ul>
  </div>
</div>